/* Rope and bulbs CSS */
<<<<<<< HEAD
/* Rope and bulbs CSS */

.rope-container {
    position: relative;
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align rope to the right initially */
}

.bulbs {
    position: absolute;
    top: 50px; /* Adjust top position to align with the icons and text */
    left: 50%; /* Adjust left position to center */
    transform: translateX(-50%);
=======
.rope-container {
    display: grid;
    grid-template-columns: auto auto; /* Two columns: one for bulbs, one for text */
    align-items: center;
}

.bulbs {
    display: flex;
    flex-direction: column; /* Align bulbs vertically */
    align-items: center; /* Center bulbs horizontally */
    gap: 10px; /* Adjust spacing between bulbs */
>>>>>>> 63729172637ad31ecb1326199b6dfd325ee37ff6
}

.bulb {
    width: 20px;
    height: 20px;
    background-color: #f0ff00; /* Adjust bulb color */
    border-radius: 50%;
<<<<<<< HEAD
    margin-bottom: 10px; /* Adjust spacing between bulbs */
}

.rope {
    width: 2px;
    height: calc(100% - 50px); /* Adjust rope height */
    background-color: #000; /* Adjust rope color */
    position: absolute;
    top: 50px; /* Adjust top position to align with the icons and text */
    left: 50%; /* Adjust horizontal position */
    transform: translateX(-50%);
}


=======
}

.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav li {
    margin-bottom: 10px; /* Adjust spacing between text and bulbs */
}

.nav li a {
    display: flex;
    align-items: center; /* Align text and icons vertically */
    text-decoration: none;
    color: #000; /* Adjust text color */
}

.nav li a i {
    margin-right: 5px; /* Adjust spacing between icon and text */
}

/* Adjustments for the rope */
.rope {
    width: 2px;
    height: 100%; /* Stretch rope to full height */
    background-color: #000; /* Adjust rope color */
    margin-right: 10px; /* Adjust spacing between rope and bulbs */
}





>>>>>>> 63729172637ad31ecb1326199b6dfd325ee37ff6
.nav.hidden {
    display: none;
}

.bulb1 { animation: bulbAnimation 1s ease forwards 0.5s; }
.bulb2 { animation: bulbAnimation 1s ease forwards 1s; }
.bulb3 { animation: bulbAnimation 1s ease forwards 1.5s; }
.bulb4 { animation: bulbAnimation 1s ease forwards 2s; }
.bulb5 { animation: bulbAnimation 1s ease forwards 2.5s; }

@keyframes ropeAnimation {
    0% { height: 0; }
    100% { height: 100%; }
}

@keyframes bulbAnimation {
    0% { opacity: 0; }
    100% { opacity: 1; }
}